@media (max-width: 1420px) {
    .footer_container {
        margin-left: -200px;
    }
}

@media (max-width: 1230px) {
    .container {
        width: 90%;
    }

    textarea {
        width: 656px;
    }

    img {
        width: 300px;
        height: 300px;
    }
    .contact-container img {
        height: 38px;
        width: 38px;
        background: #5968F4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logos img {
        width: 42px;
        height: 42px;
    }
    .card_2 {
        margin-left: 920px;
    }
    .contact_box {
        margin-left: 1100px;
    }
}
@media (max-width: 1150px) {
    textarea {
        width: 586px;
    }
}

@media (max-width: 1075px) {
    textarea {
        width: 520px;
    }

    .images {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 500px;
        height: 500px;
        margin: 20px;
    }
    .icon {
        height: 68px;
        width: 68px;
        border-radius: 50%;
        background: #5968F4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
    .map_logo {
        margin-left: 20px;
    }
    .info_box {
        margin-left: -90px;
    }
    .info_box h1 {
        font-size: 26px;
    }
    .info_box p {
        font-size: 17px;
        width: 200px;
    }
    
    .contact_box img {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .footer_container {
        margin-left: -380px;
        margin-top: -412px;
    }
    .logos img {
        margin-left: 150px;
        margin-top: 70px;
    } 
}

@media (max-width: 1000px) {
    textarea {
        width: 720px;
    }
    form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inputs {
        width: 720px;
        margin-top: 25px;
    }

    .contact {
        width: 90%;
    }

}