.container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
}

.header h5 {
    color: #5863E3;
    font-size: 17px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 57px;
}

.header h2 {
    color: #000;
    font-size: 49px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 371px;
    margin-top: 7px;
}

.form-container {
    margin-top: 57px;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

textarea {
    width: 756px;
    height: 298px;
    border: 2px solid rgba(212, 211, 211, 0.30);
    background: #F8F8F8;
    padding: 23px 21px;
    resize: none;
}

input[type="text"] {
    width: 100%;
    height: 59px;
    border: 2px solid rgba(212, 211, 211, 0.30);
    background: #F8F8F8;
    margin-bottom: 20px;
    padding: 21px 19px;
}

input[type="button"] {
    width: 100%;
    height: 59px;
    border: 2px solid #5968F4;
    background: #5968F4;
    color: #FBFBFF;
    font-size: 14px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.inputs {
    width: 370px;
}

.icon {
    height: 68px;
    width: 68px;
    border-radius: 50%;
    background: #5968F4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 51px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact h3 {
    color: #4E4D54;
    font-size: 20px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contact p {
    color: #99999A;
    font-size: 15px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sec-2 {
    margin-top: 100px;
}

.sec-2 h2{
    width: 548px;
}

.images {
    display: flex;
    justify-content: space-around;
    margin-top: 53px;
    margin-bottom: 100px;
}
.footer {
    width: 100%;
    height: 372px;
    background: #000;
    margin-top: 39px;
}
.info_box h1 {
    color: #FFF;
    font-size: 26px;
    font-weight: 700;
    padding: 63px 143px;
}
.info_box p {
    color: #99999A;
    font-size: 17px;
    font-weight: 700;
    width: 260px;
    margin-left: 143px;
    margin-top: -40px;
    margin-bottom: 27px;
}
.logos {
    margin-left: 135px;
}
.logos img {
    margin-left: 7px;
    width: 42px;
    height: 42px;
    
}
.footer_container {
    margin-top: -290px;
}
.card_1 {
    margin-left: 700px;
    margin-top: -250px;
}
.card_1 h1 {
    color: #FFF;
    font-size: 21px;
    font-weight: 400;
    margin-left: -140px;
    margin-top: 40px;
    margin-bottom: -42px;
    padding: 63px 143px;
}
.card_1 h4 {
    color: #5863E3;
    font-size: 17px;
    font-weight: 400;
    margin-top: 9px;
}
.card_2 {
    margin-left: 970px;
    margin-top: -250px;
}
.card_2 h1 {
    color: #FFF;
    font-size: 21px;
    font-weight: 400;
    margin-left: -140px;
    margin-top: 40px;
    margin-bottom: -42px;
    padding: 63px 143px;
}
.card_2 h4 {
    color: #5863E3;
    font-size: 17px;
    font-weight: 400;
    margin-top: 9px;
}
.contact_box {
    margin-left: 1200px;
    margin-top: -262px;
}
.contact_box h1 {
    color: #FFF;
    font-size: 21px;
    font-weight: 400;
    width: 400px;
    margin-bottom: -27px;
    margin-top: 53px;
    margin-left: -140px;
    padding: 63px 143px;
}
.mail_box {
    display: flex;
}
.mail_logo img {
    width: 21px;
    height: 15px; 
}
.mail_box h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 14px;
    color: #FFF;
    font-size: 17px;
    font-weight: 400;
}
.number_box {
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
}
.phone_logo img {
    width: 27px;
    height: 22px; 
}
.number_box h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 17px;
    font-weight: 400;
    margin-left: 12px;
}
.map_box {
    display: flex;
}

.map_logo img {
    width: 13px;
    height: 22px;
    margin-left: 7px; 
}

.map_box h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 17px;
    font-weight: 400;
    margin-left: 20px; 
}